extends layout

block content
    h1= title

    p You added the following book to the database:
    p Title: #{title}
    p Author: #{author}
    p Summary: #{summary}
    p Genre/s:
    ul
        each genre in genres
            li #{genre}
    p ISBN: #{isbn}