extends layout

block content
    h1=title

    form(action='/catalog/book/create' method='post')
        div(class='form-element')
            label(for='title') Title
            input(
                type='text'
                id='title'
                name='title'
            )
        div(class='form-element')
            label(for='author') Author
            select(
                id='author'
                name='author'
            )
                each val in authors
                    option= val.name
        div(class='form-element')
            label(for='summary') Summary
            input(
                type='text'
                id='summary'
                name='summary'
            )
        div(class='form-element')
            label(for='genre') Genre
            select(
                id='genre'
                name='genre'
            )
                each val in genres
                    option= val.name
        div(class='form-element')
            label(for='isbn') ISBN
            input(type='text' name='isbn')
        div(class='form-element')
            input(
                type='submit'
                url='/book/create'
            )
