extends layout

block content
  h1= title
  p Welcome to #{title}
  
  if error
    p error retrieving dynamic content
  else
    ul
      li #[strong Books:] !{data.book_count}
      li #[strong Book Instances:] !{data.book_instance_count}
      li #[strong Available Book Instances:] !{data.book_instance_available_count}
      li #[strong Authors:] !{data.author_count}
      li #[strong Genres:] !{data.genre_count}
      
      
      
      
